# To Merge Datasets into One CSV File

# glob function and merge multiple csv files into one

In [14]:
import pandas as pd
#import glob as glb
from glob import glob

In [15]:
#SourceFileName= datafile in local machine and data*.csv
data_files = sorted (glob("/home/expert/Jupyter Notebook/Loan_approval_Predictor/Datafile/Data*.csv"))
data_files

['/home/expert/Jupyter Notebook/Loan_approval_Predictor/Datafile/Data1.csv',
 '/home/expert/Jupyter Notebook/Loan_approval_Predictor/Datafile/Data2.csv',
 '/home/expert/Jupyter Notebook/Loan_approval_Predictor/Datafile/Data3.csv']

# To read all the files iteratively and we will create anew column to identify the record's original filename using assign()

In [20]:

mergeddata =pd.concat(pd.read_csv(datafile).assign(sourcefilename=datafile) 
                      for datafile in data_files)

In [23]:
mergeddata.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,sourcefilename,Loan_Status
0,LP001015,Male,Yes,0,Graduate,No,5720,0.0,110.0,360.0,1.0,Urban,/home/expert/Jupyter Notebook/Loan_approval_Pr...,NaN
1,LP001022,Male,Yes,1,Graduate,No,3076,1500.0,126.0,360.0,1.0,Urban,/home/expert/Jupyter Notebook/Loan_approval_Pr...,NaN
2,LP001031,Male,Yes,2,Graduate,No,5000,1800.0,208.0,360.0,1.0,Urban,/home/expert/Jupyter Notebook/Loan_approval_Pr...,NaN
3,LP001035,Male,Yes,2,Graduate,No,2340,2546.0,100.0,360.0,NaN,Urban,/home/expert/Jupyter Notebook/Loan_approval_Pr...,NaN
4,LP001051,Male,No,0,Not Graduate,No,3276,0.0,78.0,360.0,1.0,Urban,/home/expert/Jupyter Notebook/Loan_approval_Pr...,NaN

In [24]:
mergeddata.shape

(1348, 14)

# Save to merged file

In [26]:
mergeddata.to_csv("/home/expert/Jupyter Notebook/Loan_approval_Predictor/Loan_dataset.csv")